@page "/"

<h1>Hello, world!</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <AddAddress />
            <br/>
        </div>
        <div class="col">
            <AddWorkplace />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <AddGuardian />
            <br/>
        </div>
        <div class="col">
            <AddChild />
        </div>
    </div>
</div>


