<h3>Add a New Address</h3>


<EditForm Model="NewAddress">
@*Address Name*@
@*Street 1*@
@*Street 2*@
@*City*@
@*State*@
@*Zip Code*@
</EditForm>
@code {
    private Address NewAddress = new Address();
}
