<h3>Add a New Address</h3>


<EditForm Model="NewAddress">
    @*Address Name*@
    <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <InputText id="name" class="form-control" @bind-Value="NewAddress.Name" required></InputText>
    </div>

    @*Street 1*@
    <div class="form-group">
        <label class="form-label" for="street1">Street 1</label>
        <InputText id="street1" class="form-control" @bind-Value="NewAddress.Street1" required></InputText>
    </div>

    @*Street 2*@
    <div class="form-group">
        <label class="form-label" for="street2">Street 2</label>
        <InputText id="street2" class="form-control" @bind-Value="NewAddress.Street2" required></InputText>
    </div>

    @*City*@
    <div class="form-group">
        <label class="form-label" for="city">City</label>
        <InputText id="city" class="form-control" @bind-Value="NewAddress.City" required></InputText>
    </div>

    @*State*@
    <div class="form-group">
        <label class="form-label" for="state">State</label>
        <InputText id="state" class="form-control" @bind-Value="NewAddress.State" required></InputText>
    </div>

    @*Zip Code*@
    <div class="form-group">
        <label class="form-label" for="zip-code">Zip Code</label>
        <InputText id="zip-code" class="form-control" @bind-Value="NewAddress.ZipCode" required></InputText>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Add New</button>
        <button class="btn btn-secondary">Cancel</button>
    </div>
</EditForm>
@code {
    private Address NewAddress = new Address();
}
