<h3>Add a New Parent/Guardian</h3>

<EditForm Model="NewParent">
    <div class="form-group">
        <label class="form-label" for="firstname">First Name</label>
        <InputText id="firstname" class="form-control" @bind-Value="NewParent.FirstName" required></InputText>
    </div>

    <div class="form-group">
        <label class="form-label" for="lastname">Last Name</label>
        <InputText id="lastname" class="form-control" @bind-Value="NewParent.LastName" required></InputText>
    </div>

    <div class="form-group">
        <label class="form-label" for="phone-number">Phone Number</label>
        <InputText id="phone-number" class="form-control" @bind-Value="NewParent.PhoneNumber"></InputText>
    </div>

@*Add div for Address selection or new address creation*@
@* Add div for workplace selection*@

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Register</button>
        <button class="btn btn-secondary">Cancel</button>
    </div>
</EditForm>

@code {
    private Parent NewParent = new Parent();
}
