@page "/Workplaces"

<table class="table table-striped">
    <thead>
        <tr class="table-primary">
            <th colspan="5"><h3>Workplaces</h3></th>
        </tr>
        <tr>
            <th><button class="btn btn-primary" @onclick="NavigateToCreate">Add New</button></th>
        </tr>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>City</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @if(AllWorkplaces.Any())
            {
                @foreach (var workplace in AllWorkplaces)
                {
                    <tr>
                        <td>@workplace.WorkplaceId</td>
                        <td>@workplace.Name</td>
                        <td>@workplace.City</td>
                        <td>@workplace.PhoneNumber</td>
                        <td><button class="btn btn-danger" @onclick="() => DeleteWorkplace(workplace)">Delete</button></td>
                    </tr>
                }
            }
        else
            {
                <tr>
                    <td colspan="4"><h4>Now workplaces on file</h4></td>
                </tr>
            }
    </tbody>
</table>
